h1,
p {
  font-family: Lato;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.main {
  width: 70%;
  height: 100vh;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 30%;
}

.btn {
  font-size: 10pt;
  border: 0;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: lightgray;
  border-radius: 2px;
}

.select {
  padding: 5px 6px;
  margin-right: 5px;
  border-radius: 10px;
  outline: none;
}

.btn:hover {
  transition: all 0.5s ease;
  background-color: darkgray;
}

.btn-gacha {
  font-size: 12pt;
  background-color: white;
  border: 1px solid olive;
  color: olive;
  border-radius: 30px;
  padding: 5px 25px;
  outline: none;
}

.btn-gacha:hover {
  transition: all 0.5s ease;
  background-color: antiquewhite;
}

.li-b3 {
  color: gray;
}

.li-b5 {
  color: orange;
  font-weight: bold;
}

.li-b4 {
  color: mediumpurple;
  font-weight: bold;
}

.gacha-list {
  display: inline-block;
  height: 255px;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  list-style-type: none;
}

.gacha-list li {
  margin: 1px 0px;
}

.anim-slide {
  animation: slide 0.3s linear;
}

.gacha-panel1 {
  margin-bottom: 10px;
  color: gray;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 14pt;
  }
  .main {
    width: 98%;
    background-size: 100%;
    background-position: 0% 135px;
  }
  .gacha-panel1 {
    font-size: 11pt;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
